@tailwind base;
@tailwind components;
@tailwind utilities;
  /* En styles/globals.css */
/* styles/globals.css */
body {
  font-family: var(--font-poppins), sans-serif; /* Usando la variable CSS */
}
.masonry-grid_column {
  /* You can adjust this value to control the spacing between columns */
  padding: 0 4px;
}
.masonry-grid_column > div {
  /* You can adjust this value to control the spacing between items */
  margin-bottom: 16px;
}
/* styles/globals.css o tu archivo CSS */
@keyframes gradientAnimation {
  0% { background-position: 40% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.gradient-text {
  background: linear-gradient(45deg,#ff4e50, #f9d423); /* Puedes usar colores que te gusten */
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
.override-inline-flex {
  display: block !important; /* O cualquier otro estilo que necesites */
}
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes marquee-vertical {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  
  .animate-marquee-reverse {
    animation: marquee-reverse var(--duration) linear infinite;
  }
  
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }
  

  .custom-input{
  
    color: #fab01c; /* Cambia este color si lo deseas */
  
  }
  .progress-bar {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .txt_pasos {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .progress {
    background-color: #e0e0e0; /* Color de fondo de la barra */
    border-radius: 4px; /* Bordes redondeados */
    height: 10px; /* Altura de la barra */
    width: 100%; /* Ancho completo */
  }
  
  .pb_wizard {
    background-color: #f6b83b; /* Color de la barra de progreso */
    height: 100%; /* Para llenar la barra */
    border-radius: 4px; /* Bordes redondeados */
    transition: width 0.4s; /* Transición suave al cambiar de ancho */
  }
  
  
  