@tailwind base;
@tailwind components;
@tailwind utilities;
  /* En styles/globals.css */


  
.masonry-grid_column {
  /* You can adjust this value to control the spacing between columns */
  padding: 0 4px;
}

.masonry-grid_column > div {
  /* You can adjust this value to control the spacing between items */
  margin-bottom: 16px;
}
/* styles/globals.css o tu archivo CSS */
@keyframes gradientAnimation {
  0% { background-position: 40% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.gradient-text {
  background: linear-gradient(45deg,#ff4e50, #f9d423); /* Puedes usar colores que te gusten */
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

/* styles/globals.css o tu archivo CSS */




/* src/styles/globals.css o tu archivo de estilos globales */

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes marquee-vertical {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  
  .animate-marquee-reverse {
    animation: marquee-reverse var(--duration) linear infinite;
  }
  
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }
  


  